#algeria {
    background-color: #189452;
    background-image: -moz-linear-gradient(90deg, #189452 0%, #189452 50%, #fff 50%);
    background-image: -webkit-linear-gradient(90deg, #189452 0%, #189452 50%, #fff 50%);
    background-image: linear-gradient(90deg, #189452 0%, #189452 50%, #fff 50%);
    background-size: 300px 300px;
}

#algeria .inner {
    background-image: url('./images/algeria.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #de1818;
    height: 100px;
    right: 100px;
    position: absolute;
    top: 50px;
    width: 100px;
    z-index: 2;
}

#algeria .inner span {
    font-size: 65px;
    left: 47px;
    position: absolute;
    top: 17px;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}