#armenia {
    background-color: #002984;
}
#armenia:before, #armenia:after {
    content: " ";
    display: block;
    height: 67px;
}
#armenia:before {
    background-color: #de1018;
}
#armenia:after {
    background-color: #ef7b21;
    height: 66px;
    margin-top: 65px;
}