#bahamas {
    background-color: #008cad;
}

#bahamas .inner {
    background-color: #ffef31;
    height: 67px;
    margin-top: 67px;
}

#bahamas .inner:before {
    border: 100px solid #000;
    border-left-width: 150px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    content: " ";
    display: block;
    left: 0;
    position: absolute;
    top: 0;
}