#botswana {
    background-color: #000;
}
#botswana:before, #botswana:after {
    background-color: #0873a5;
    content: " ";
    display: block;
    height: 75px;
}
#botswana:before {
    border-bottom: 8px solid #fff;
}
#botswana:after {
    border-top: 8px solid #fff;
    margin-top: 34px;
}