#israel {
    background-color: #fff;
}

#israel:before, #israel:after {
    background-color: #00f;
    content: " ";
    display: block;
    height: 35px;
}
#israel:before {
    border-top: 15px solid #fff;
}
#israel:after {
    background-color: #00f;
    border-bottom: 15px solid #fff;
    margin-top: 98px;
}

#israel .star, #israel .star:after {
    border-left: 42px solid transparent;
    border-right: 42px solid transparent;
    height: 0;
    width: 0;
}

#israel .star {
    border-bottom: 63px solid #00f;
    left: 85px;
    position: absolute;
    top: 58px;
    z-index: 3;
}

#israel .star:after {
    border-top: 63px solid #00f;
    content: "";
    left: -42px;
    position: absolute;
    top: 21px;
    z-index: 3;
}

#israel .star .point1, #israel .star .point2, 
#israel .star .point3, #israel .star .point4,
#israel .star .point5, #israel .star .point6 {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    display: block;
    height: 0;
    overflow: visible;
    position: absolute;
    width: 0;
    z-index: 5;
}

#israel .star .point1,
#israel .star .point3,
#israel .star .point5 {
    border-bottom: 8px solid #fff;
}

#israel .star .point2,
#israel .star .point4,
#israel .star .point6 {
    border-top: 8px solid #fff;
}

#israel .star .point1 {
    left: -5px;
    top: 13px;
}

#israel .star .point2 {
    left: 20px;
    top: 27px;
}

#israel .star .point3 {
    left: 20px;
    top: 49px;
}

#israel .star .point4 {
    left: -5px;
    top: 63px;
}

#israel .star .point5 {
    left: -30px;
    top: 49px;
}

#israel .star .point6 {
    left: -30px;
    top: 27px;
}

#israel .star .center {
    background: #fff;
    height: 30px;
    left: -10px;
    position: absolute;
    top: 27px;
    width: 20px;
    z-index: 5;
}

#israel .star .center:before {
    border-bottom: 15px solid transparent;
    border-right: 10px solid #fff;
    border-top: 15px solid transparent;
    content: "";
    left: -10px;
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    z-index: 5;
}

#israel .star .center:after {
    border-bottom: 15px solid transparent;
    border-left: 10px solid #fff;
    border-top: 15px solid transparent;
    bottom: 0;
    content: "";
    height: 0;
    left: 20px;
    position: absolute;
    width: 0;
    z-index: 5;
}