#senegal {
    background: linear-gradient(90deg, #189452, #189452 100px, #ffef08 100px, #ffef08 200px, #de1018 200px, #de1018);
    color: #189452;
    font-size: 100px;
    line-height: 200px;
    text-align: center;
}