#united-states {
    background-color: #fff;
    background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 50%, #e71029 50%);
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 50%, #e71029 50%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 50%, #e71029 50%);
    background-size: 32px 32px;
}

#united-states .stars {
    background-color: #08086b;
    color: white;
    font-size: 12px;
    height: 112px;
    left: 0;
    letter-spacing: 14px;
    padding: 2px 0 0 7px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 145px;
    z-index: 2;
}

#united-states .stars div:nth-child(2n) {
    padding-left: 6px;
}