/* General styles used on many flags */

/* Specific flags */
@import url("./flags/algeria.css");
@import url("./flags/american-samoa.css");
@import url("./flags/antigua-barbuda.css");
@import url("./flags/argentina.css");
@import url("./flags/armenia.css");
@import url("./flags/aruba.css");
@import url("./flags/austria.css");
@import url("./flags/bahamas.css");
@import url("./flags/belgium.css");
@import url("./flags/botswana.css");
@import url("./flags/burkina-faso.css");
@import url("./flags/israel.css");
@import url("./flags/st-kitts-and-nevis.css");
@import url("./flags/senegal.css");
@import url("./flags/serbia.css");
@import url("./flags/sierra-leone.css");
@import url("./flags/somalia.css");
@import url("./flags/the-sudan.css");
@import url("./flags/sweden.css");
@import url("./flags/switzerland.css");
@import url("./flags/united-states.css");
@import url("./flags/yemen.css");

.almost:after {
    content: "*Uses one or more images";
    display: block;
    font-size: .8em;
    font-style: italic;
    font-weight: normal;
}

.flag {
    background-color: white;
    border: 1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 5px 0 30px 0;
    padding: 0;
    position: relative;
    z-index: -1;
}

.flag * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.r1to1 {
    height: 200px;
    width: 200px;
}

.r2to1 {
    height: 200px;
    width: 400px;
}

.r3to2 {
    height: 200px;
    width: 300px;
}

.r8to5 {
    height: 200px;
    width: 320px;
}

.r11to8 {
    height: 200px;
    width: 275px;
}

.r15to13 {
    height: 208px;
    width: 240px;
}

.r19to10 {
    height: 208px;
    width: 395px;
}

.hide {display: none;}